# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
SDIAPP.*
SDIAPP.bdsproj
targetver.h
# Ignore (generated) html files,
*.html
# except foo.html which is maintained by hand.
!foo.html
# Ignore objects and archives.
*.[oa]
Win32
*history